.all{
    /*display: flex;*/
    position: relative;
}

.render-c{
    position: relative;
    width: 1000px;
    height: 750px;
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;   
    align-items: center;
    backdrop-filter: blur(10px);
    margin-top: 40px;
    margin-left: 40px;
}

.conteiner{
    margin: 15px;
    display: flex;
}

.cont-cartas{
    position: relative;
    z-index: 1;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.cont1 {
    justify-content: center;
    display: flex;
}

.cont2 {
    justify-content: center;
    display: flex;
}

.cont3 {
    justify-content: center;
    display: flex;
}

.runserver {
    justify-content: center;
    display: flex;
}

.carta{
    position: relative;
    width: 180px;
    height: 150px;
    background: rgba(255, 255, 255, 0.05);
    margin: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;   
    align-items: center;
    backdrop-filter: blur(10px);
}

.boton{
    width: 100px;
    height: 50px;
    margin: 15px;
    display: inline-block;
    border-radius: 10px;
    background-color: hsl(202, 70%, 59%);
    border: none;
    color: #FFFFFF;
    text-align: center;

}

.carta-g{
    position: relative;
    width: 320px;
    height: 150px;
    background: rgba(255, 255, 255, 0.05);
    margin: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;   
    align-items: center;
    backdrop-filter: blur(10px);    
}

.datas{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

i{
    margin-right: 5px;
}

.sensor{
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}