<link rel="stylesheet" href="./team.css">

<div id="main">
    <div id="main">
        <div class='cuerpo'>
            <h3 class='teams'>Electronic Team</h3>
            <div class='container'>
    
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="./img/luissolano.jpeg" alt="Luis Solano"/></div>
                        <div class='contentBx'>
                            <h3>Jans Solano<br></br><span class='cargo'>a20172696@pucp.edu.pe</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="./img/anthonyhacker.png" alt="Anthony Valladolid"/></div>
                        <div class='contentBx'>
                            <h3>Anthony Valladolid<br></br><span class='cargo'>Bot1</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="./img/luislopez.png" alt="Luis Lopez"/></div>
                        <div class='contentBx'>
                            <h3>Luis Lopez<br></br><span class='cargo'>Bot2</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>    
            </div>
    
            <h3 class='teams'>Mechanical Team</h3>
            <div class='container'>
    
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="./img/mayli.png" alt="Mayli Tafur"/></div>
                        <div class='contentBx'>
                            <h3>Mayli Tafur<br></br><span class='cargo'>Bot de voz</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="./img/crismallqui.jpeg" alt="Cristhian Mallqui"/></div>
                        <div class='contentBx'>
                            <h3>Cristhian Mallqui<br></br><span class='cargo'>PRESI</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>
                    
            </div>
            <h3 class='teams'>Team GUI/Web</h3>
                <div class='container'>
                    <div class='card'>
                        <div class='content'>
                            <div class='imgBx'><img src="./img/marcelo.jpeg" alt="Marcelo Jara"/></div>
                            <div class='contentBx'>
                                <h3>Marcelo Jara<br></br><span class='cargo'>Music bot</span></h3>
                            </div>
                        </div>                
                        <ul class='sci'>
                            <li class="fb">
                                <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li class="insta">
                                <a href='#'><i class='bx bxl-instagram' ></i></a>
                            </li>
                            <li class="gmail">
                                <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class='card'>
                        <div class='content'>
                            <div class='imgBx'><img src="./img/pedrito.png" alt="Gregory Chahuayla"/></div>
                            <div class='contentBx'>
                                <h3>Gregory Chahuayla<br></br><span class='cargo'>a20172696@pucp.edu.pe</span></h3>
                            </div>
                        </div>                
                        <ul class='sci'>
                            <li class="fb">
                                <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li class="insta">
                                <a href='#'><i class='bx bxl-instagram' ></i></a>
                            </li>
                            <li class="gmail">
                                <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                            </li>
                        </ul>
                    </div>  
                </div>
    
            <h3 class='teams'>Mentores</h3>
            <div class='container'>
    
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="img/diegoguzman.jpeg" alt="Diego Guzman"/></div>
                        <div class='contentBx'>
                            <h3>Diego Guzmán<br></br><span class='cargo'>bot 0</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="./img/fiourbina.jpeg" alt="Fiorella Urbina"/></div>
                        <div class='contentBx'>
                            <h3>Fiorella Urbina<br></br><span class='cargo'>Bot1</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>
                <div class='card'>
                    <div class='content'>
                        <div class='imgBx'><img src="./img/daniel.png" alt="Daniel Menacho"/></div>
                        <div class='contentBx'>
                            <h3>Daniel Menacho<br></br><span class='cargo'>Bot2</span></h3>
                        </div>
                    </div>                
                    <ul class='sci'>
                        <li class="fb">
                            <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="insta">
                            <a href='#'><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li class="gmail">
                            <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                        </li>
                    </ul>
                </div>    
            </div>
    
            <h3 class='teams'>Professor</h3>
                <div class='container'>
                    <div class='card'>
                        <div class='content'>
                            <div class='imgBx'><img src="./img/diegoarce.jfif" alt="Diego Arce"/></div>
                            <div class='contentBx'>
                                <h3>Diego Arce<br></br><span class='cargo'>Professor</span></h3>
                            </div>
                        </div>                
                        <ul class='sci'>
                            <li class="fb">
                                <a href='https://www.facebook.com/'><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li class="insta">
                                <a href='#'><i class='bx bxl-instagram' ></i></a>
                            </li>
                            <li class="gmail">
                                <a href='#'><i class='bx bxl-linkedin-square' ></i></a>
                            </li>
                        </ul>
                    </div>  
                </div>
        </div>
</div>>